.btn-primary {
	background-color: #FFA500;
	border-color: #FFA500;
}

.btn-primary:hover {
	background-color: #e69500;
	border-color: #e69500;
}

.card-title {
	color: #FFA500;
}

.card-text {
	margin-top: 5px;
	margin-bottom: 10px;
}

.card:hover {
	background-color: #FFF7D1;
}

.card-img-top {
	border-radius: 5px;
	height: 400px;
}

.header {
	margin-top: 50px;
}

footer {
	background-color: #FFA500;
	color: white;
	padding: 10px 0;
	text-align: center;
	margin-top: 20px;
}

.pointer {
	color: #6c757d; /* Bootstrap primary color */
	cursor: pointer; /* Change cursor to pointer */
}

.error { color: red; }